html {
    background-color: #333232;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #a55ed1, #ffd8ff);
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#container {
    border-radius: 5px;
    width: 80%;
    height: 90%;
    background-color: #ffffff;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-content: center;
    box-shadow: 0 4px 6px rgba(50, 50, 50, 0.1);
}

/*timers*/
.label {
    align-self: center;
    justify-self: center;

    font-size: 30px;
    font-weight: bold;
}

#inputTimer {
    grid-area: 2 / 2 / 2 / 2;
}
#salvar {
    grid-area: 2 / 6 / 2 / 6;
}

#work {
    grid-area: 4 / 2 / 4 / 2;
}
#break {
    grid-area: 4 / 6 / 4 / 6;
}
#cycles {
    grid-area: 4 / 4 / 4 / 4;
}

.timer {
    display: flex;
    align-self: center;
    justify-self: center;

    font-size: 30px;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
}

#counter {
    grid-area: 5 / 4 / 5 / 4;
}

#work-timer {
    grid-area: 5 / 2 / 5 / 2;
}

#break-timer {
    grid-area: 5 / 6 / 5 / 6;
}

.btn {
    margin: 10px;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #4b0082;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 50, 0.1);
}

#start {
    grid-area: 6 / 2 / 6 / 2;
}

#reset {
    grid-area: 6 / 4 / 6 / 4;
}

#stop {
    grid-area: 6 / 6 / 6 / 6;
}

/* Estilo do cabeçalho */
header {
    background-color: #4b0082;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

/* Título do cabeçalho */
header h1 {
    font-size: 24px;
    margin: 0;
}

/* Menu de navegação */
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Links do menu */
header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    text-decoration: underline;
}