<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <title>Centraliza</title>
</head>
<body>

<div class="header">
  <a href="{{ url_for('visualizar_tarefa') }}" class="logo">Centraliza</a>
  <div class="header-right">
    <a href="{{ url_for('calendario') }}">Calendario</a>
    <a href="{{ url_for('home') }}">Timer</a>
    <a href="{{ url_for('kanban') }}">Kanban</a>
  </div>
</div>

</body>
</html>