<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calendário</title>
        <link rel="stylesheet" href="/static/calendario.css">
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const calendarEl = document.getElementById('calendar')
                const calendar = new FullCalendar.Calendar(calendarEl, {
                    locale: 'pt-br',
                    initialView: 'dayGridMonth',
                    events: '/tarefas',
                    eventContent: function(info) {
                        // Personaliza a exibição do evento
                        return { html: `<b>${info.event.title}</b>` };
                    },
                    eventDidMount: function (info) {
                        info.el.setAttribute('data-title', `${info.event.title}\n${info.event.extendedProps.description}`);
                        info.el.addEventListener('click', function() {
                            window.location.href = `/tarefa/${info.event.id}`;
                        });
                    }
            })
            calendar.render()
            })
        </script>
    </head>
    <body>
        <div id='calendar'></div>
    </body>
</html>
